# python=3.10
numpy==1.21.1
tensorboard==2.20.0
pandas==2.0.3
matplotlib==3.8.4
ruamel.yaml==0.17.4
gym[atari]==0.26.2
moviepy==1.0.3
einops==0.8.1
protobuf==6.33.1
dm_control==1.0.34
metaworld==3.0.0
mujoco==3.3.7