version: "3.9"

services:
  llwm-haoyu:
    build:
      context: ..
      dockerfile: docker/Dockerfile
      args:
        - WORKSPACE_DIR=${WORKSPACE_DIR}
        - USERNAME=${USERNAME}
        - UID=${UID}
        - GID=${GID}
    env_file:
      - ./.env
    environment:
      - WORKSPACE_DIR=${WORKSPACE_DIR}
      - DISPLAY=${DISPLAY}
      - QT_X11_NO_MITSHM=1
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
      - __NV_PRIME_RENDER_OFFLOAD=1
      - __GLX_VENDOR_LIBRARY_NAME=nvidia
    container_name: llwm-haoyu
    image: llwm-haoyu:devel
    runtime: nvidia
    network_mode: "host"
    privileged: ${PRIVILEGED}
    tty: true
    group_add:
      - video
    volumes:
      - ../src:${WORKSPACE_DIR}/src
      - ../metaworld_walker_xml:${WORKSPACE_DIR}/metaworld_walker_xml
      - ../save_imgs:${WORKSPACE_DIR}/save_imgs
      - /tmp/.X11-unix:/tmp/.X11-unix:rw
      - /tmp/.docker.xauth:/tmp/.docker.xauth:rw
